.collage {
  max-width: 1184px;
  min-width: 288px;
  padding-top: 92px;
  padding-right: 48px;
  padding-left: 48px;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .collage {
    padding-top: 88px;
    padding-right: 24px;
    padding-left: 24px;
  }
}

@media screen and (max-width: 352px) {
  .collage {
    padding: 0;
    padding-top: 64px;
  }
}

@media screen and (max-width: 320px) {
  .collage {
    padding-top: 64px;
    padding-right: 16px;
    padding-left: 16px;
  }
}
