.footer__copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  font-family: 'Inter', arial, sans-serif;
  margin-top: 18px;
}
/*
@media screen and (max-width: 720px) {
  .footer__copyright {
    margin-top: 50px;
  }
}
*/

@media screen and (max-width: 320px) {
  .footer__copyright {
    margin-top: 48px;
  }
}

