.footer__copyright {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  margin-right: 27px;
  color: #fff;
  font-family: 'Inter', arial, sans-serif;
}

@media screen and (max-width: 720px) {
  .footer__copyright {
    margin-top: 50px;
  }
}


@media screen and (max-width: 320px) {
  .footer__copyright {
    margin-top: 48px;
  }
}

