.intro {
  max-width: 690px;
  margin-top: 92px;
  margin-left: 148px;
  color: #fff;
  font-family: "Inter", arial, sans-serif;
}

@media screen and (max-width: 1024px) {
  .intro {
    margin-left: 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    margin-top: 88px;
    max-width: 720px;
    margin-right: 24px;
    margin-left: 24px;
  }
}
