.cover__text {
  max-width: 360px;
  margin: 32px auto 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
  text-align: center;
}

@media screen and (max-width: 444px) {
  .cover__text {
    max-width: 290px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-top: 16px;
  }
}

@media screen and (max-width: 320px) {
  .cover__text {
    max-width: 288px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-top: 16px;
  }
}
