.cover__text {
  max-width: 360px;
  margin: 32px auto 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
  text-align: center;
}

@media screen and (max-width: 570px) {
  .cover__text {
    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (570 - 320)));
    line-height: 1.20;
  }
}

@media screen and (max-width: 320px) {
  .cover__text {
    max-width: 288px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-top: 16px;
  }
}
