.lead__subtitle {
  max-width: 640px;
  margin: 32px auto 64px auto;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 710px) {
  .lead__subtitle {
    font-size: calc(16px + (30 - 16) * ((100vw - 320px) / (710 - 320)));
    line-height: 1.20;
  }
}

@media screen and (max-width:320px) {
  .lead__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-top: 16px;
    margin-bottom: 40px;
  }
}

