.cover__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  margin: 0;
  text-align: center;
}

@media screen and (max-width: 570px) {
  .cover__title {
    font-size: 39px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    max-width: 288px;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    margin-left: 16px;
    margin-right: 16px;
  }
}

