.cover__title {
  margin: 0;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  text-align: center;
}

@media screen and (max-width: 570px) {
  .cover__title {
    font-size: calc(32px + (72 - 32) * ((100vw - 320px) / (570 - 320)));
    line-height: 1.1;
  }
}

/*
@media screen and (max-width: 496px) {
  .cover__title {
    max-width: 500px;
    font-weight: 900;
    font-size: 59px;
    line-height: 55px;
    margin-left: 16px;
    margin-right: 16px;

  }
}

@media screen and (max-width: 444px) {
  .cover__title {
    max-width: 420px;
    font-weight: 900;
    font-size: 48px;
    line-height: 45px;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media screen and (max-width: 368px) {
  .cover__title {
    max-width: 350px;
    font-weight: 900;
    font-size: 42px;
    line-height: 40px;
    margin-left: 16px;
    margin-right: 16px;
  }
}
*/
@media screen and (max-width: 320px) {
  .cover__title {
    max-width: 288px;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    margin-left: 16px;
    margin-right: 16px;
  }
}

