.place {
  display: grid;
  grid-column-gap: 40px;
  grid-row-gap: 48px;
  padding: 80px 0 0 0;
  grid-template-columns: repeat(auto-fit, minmax(320px, auto));
  color: #fff;
  font-family: 'Inter', arial, sans-serif;
}

.place:first-child {
  padding-top: 92px;
}

@media screen and (max-width: 768px) {
  .place {
    padding-top: 73px;
    padding-right: 24px;
    padding-left: 24px;
    grid-column-gap: 28px;
  }
  .place:first-child{
    padding-top: 88px;
  }
  .place:last-child{
    padding-top: 75px;
  }
}
