.footer {
  display: flex;
  max-width: 1184px;
  justify-content: space-between;
  padding-top: 90px;
  padding-right: 48px;
  padding-bottom: 24px;
  padding-left: 48px;
  margin: auto;
}

@media screen and (max-width: 1024px) {
  .footer {
    padding-top: 78px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 74px;
  }
}

@media screen and (max-width: 720px) {
  .footer {
    display: block;
    padding-top: 64px;
    padding-left: 16px;
    padding-bottom: 24px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    display: block;
    padding-top: 64px;
    padding-left: 16px;
    padding-bottom: 24px;
  }
}


