.footer {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  padding: 90px 48px 24px 48px;
  margin: auto;
}

@media screen and (max-width: 1024px) {
  .footer {
    padding-top: 78px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 74px;
  }
}

@media screen and (max-width: 718px) {
  .footer {
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    display: block;
    padding-top: 64px;
    padding-left: 16px;
    padding-bottom: 24px;
  }
}


